@charset "utf-8";
@import url('reset.css');
@font-face {
    font-family: 'Noto-Sans-KR';
    src: url('../font/NotoSansKR-Bold.woff2') format('woff2'),
        url('../font/NotoSansKR-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto-Sans-b';
    src: url('../font/NotoSans-Bold.woff2') format('woff2'),
        url('../font/NotoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto-Sans-m';
    src: url('../font/NotoSans-Medium.woff2') format('woff2'),
        url('../font/NotoSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body.active {
    overflow: hidden;
}
body {
    font-family: 'Noto-Sans-m';
}
#wrap {
    max-width: 1024px;
    width: calc(100% - 20px);
    margin: 0 auto;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    height: 60px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #fff;
}

.header .icon {
    display: flex;
    gap: 30px;
}

.icon .menu_btn {
    cursor: pointer;
    display: block;
    align-items: center;
}

.header .nav {
    width: 50%;
    height: 100%;
    background-color: #FAF9F6;
    position: fixed;
    right: -100%;
    top: 0;
    padding: 30px 50px 60px 60px;
    transition: right 0.7s linear;
    overflow-y: auto;
}
.header .nav::-webkit-scrollbar {
        display: none;
    }
.header .nav.active {
    display: block;
    right: 0;
}

.header .close_btn {
    display: block;
    margin-left: auto;
    cursor: pointer;
}

.header .nav .top_menu ul {
    display: flex;
    gap: 30px;
    margin: 30px 0 60px;
}

.header .nav .top_menu li {
    font-family: 'Noto-Sans-KR';
    letter-spacing: 1px;
}

.header .nav .gnb {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header .nav .gnb a.depth-01 {
    font-size: 20px;
    font-family: 'Noto-Sans-KR';
    letter-spacing: 2px;
}

.header .nav .gnb a.depth-01.active {
    color: #D98E80;
}

.header .nav .gnb .depth-02 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 0 0 20px;
    font-weight: 500;
    display: none;
}

.header .nav .gnb .depth-02.active {
    display: flex;
}

.header .nav .gnb .depth-02 li:hover {
    letter-spacing: 3px;
    font-weight: bold;
}
.main .top_button {
    position: fixed;
    bottom: 28px;
    right: 20px;
    z-index: 9;
    cursor: pointer;
}
.main .top_button p {
    font-size: 14px;
    font-family: 'Noto-Sans-KR';
    color: #74A7AF;
}
.swiper.mySwiper .swiper-wrapper .swiper-slide {
    display: flex;
    gap: 10px;
}

.swiper.mySwiper .swiper-wrapper .swiper-slide>img {
    width: 75%;
    height: 700px;
    object-fit: cover;
    display: block;
}

.swiper.mySwiper .swiper-wrapper .swiper-slide .swiper_item {
    width: 22.96%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.swiper.mySwiper .swiper-wrapper .swiper-slide .swiper_item .item {
    position: relative;
    padding-bottom: 99.55%;
}

.swiper.mySwiper .swiper-wrapper .swiper-slide .swiper_item img {
    position: absolute;
    top: 0;
    left: 0;
    height: 225px;
    width: 100%;
    object-fit: cover;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 10px;
}

.swiper-pagination-bullet-active {
    background-color: #D98E80;
}

.new {
    margin-top: 70px;
}

.new h2 {
    font-size: 22px;
    font-family: 'Noto-Sans-KR';
    letter-spacing: 5px;
    text-align: center;
    padding: 40px 0;
}

.new .list .button {
    background-color: #74A7AF;
    width: 160px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    align-items: center;
    margin: 15px auto;
    font-weight: 500;
    display: block;
    cursor: pointer;
    font-family: 'Noto-Sans-KR';
}

.new .list .new_item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.new .list .item .text {
    text-align: center;
    line-height: 1.3;
    margin: 3px 0 30px;
}

.new .list .item .text h3 {
    font-weight: 600;
    font-size: 15px;
}

.new .list .item .text p {
    color: rgb(141, 139, 139);
    font-size: 13px;
    font-weight: 500;
    text-decoration: line-through;
}

.new .list .item .text span {
    font-weight: 600;
    font-size: 15px;
}

.new .list .more_item {
    display: flex;
    justify-content: space-between;
    display: none;
    flex-wrap: wrap;
}

.new .list .more_item.active {
    display: flex;
}

.new_item .item .image_wrap {
    position: relative;
}

.new .list .new_item p.sold_out {
    width: 100%;
    height: 30px;
    background-color: #D98E80;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 0;
    letter-spacing: 2px;
}

.new .list .item {
    width: 22.86%;
}

.new .list .item img {
    width: 100%;
}

.banner {
    margin: 110px 0 70px;
    width: 100%;
    object-fit: cover;
}

.banner img {
    width: 100%;
}

.best h2 {
    font-size: 22px;
    font-family: 'Noto-Sans-KR';
    letter-spacing: 5px;
    text-align: center;
    padding: 40px 0;
}

.best .list {
    display: flex;
    justify-content: space-between;
}

.best .list .item {
    width: 32.01%;
    margin-bottom: 70px;
}

.best .list .item img {
    width: 100%;
    object-fit: cover;
}

.best .list .item .text {
    text-align: center;
    line-height: 1.3;
    margin: 3px 0 30px;
}

.best .list .item .text h3 {
    font-weight: 500;
    font-size: 15px;
}

.best .list .item .text p {
    color: rgb(141, 139, 139);
    font-size: 13px;
    font-weight: 500;
    text-decoration: line-through;
}

.best .list .item .text span {
    font-weight: 600;
    font-size: 15px;
}

.insta .box {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.insta .box h2 {
    font-size: 22px;
    font-family: 'Noto-Sans-KR';
    letter-spacing: 2px;
    text-align: center;
    line-height: 2;
}

.insta .box p {
    font-size: 17px;
    padding-bottom: 30px;
}

.insta .list .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 8px;
    width: 100%;
    margin-bottom: 70px;
}

.insta .list .item a {
    width: 32.03%;
    /* object-fit: cover; */
    display: block;
}
.insta .list .item a img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.footer .copyright {
    border-top: 1px solid #BDBCBC;
    border-bottom: 1px solid #bdbcbc;
    padding: 30px 0;
    text-align: center;
}

.footer .copyright strong {
    font-family: 'Noto-Sans-KR';
    font-size: 14px;
    display: inline-block;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.footer .copyright p {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
}

.footer .footer_list {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 25px 0;
    position: relative;
}

.footer .footer_list::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #BDBCBC;
    position: absolute;
    top: 0;
    left: 50%;

}

.footer_list h4 {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 500;
}

.footer_list .cs {
    line-height: 1.5;
    font-size: 12px;
    width: 50%;
}

.footer_list .cs strong {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

.footer_list .bank {
    line-height: 1.7;
    font-size: 12px;
    width: 50%;
}

.footer .bottom {
    border-top: 1px solid #BDBCBC;
    padding: 25px;
    width: 100%;
    margin: 0 auto;
}

.footer .bottom ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.footer .bottom ul li {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 12px;
    text-align: center;
    line-height: 1.2;
}

.footer .bottom ul li p {
    font-family: 'Noto-Sans-KR';
}

@media screen and (max-width: 900px) {
    .header .nav {
        width: 100%;   
    }

    .swiper.mySwiper .swiper-wrapper .swiper-slide {
        flex-direction: column;
    }

    .swiper.mySwiper .swiper-wrapper .swiper-slide>img {
        width: 100%;
        height: 600px;
    }

    .swiper.mySwiper .swiper-wrapper .swiper-slide .swiper_item {
        flex-direction: row;
        width: 100%;
        gap: 10px;
    }

    .swiper.mySwiper .swiper-wrapper .swiper-slide .swiper_item .item {
        width: 100%;
        padding-bottom: 0;
    }

    .swiper.mySwiper .swiper-wrapper .swiper-slide .swiper_item img {
        width: 100%;
        height: auto;
        object-fit: cover;
        position: static;
    }
    .new h2 {
            padding: 0 0 30px 0;
        }
    .new .list .item {
        width: 49.05%;
    }

    .new .list .item img {
        display: block;
        width: 100%;
    }

    .new .list .item .text h3 {
        word-break: keep-all;
    }

    .best .list .item .text h3 {
        white-space: wrap;
        word-break: keep-all;
        letter-spacing: -0.8px;
    }
}

@media screen and (max-width: 455px) {
    .header .nav .top_menu li {
        font-size: 13px;
    }
    .header .icon {
        gap: 15px;
    }
    .footer .copyright p {
        font-size: 11px;
    }

    @media screen and (max-width: 420px) {
        .header .nav {
            padding: 30px 20px 60px 30px;
        }
    

        .best h2 {
            padding: 30px 0;
        }
        
        .footer .copyright p {
            font-size: 11px;
            letter-spacing: -0.3px;
            white-space: wrap;
            word-break: keep-all;
        }
        .new .list .button {
            width: 130px;
            font-size: 14px;
            font-family: 'Noto-Sans-KR';
        }
    }
}